---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>runhill.sk</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>This is about me!</h1>
        <h2>What do I mean by that?</h2>
        <p>This section of a page contains information about me, and my progress with Astro.</p>
        <p>I`m trying out this new framework, that is based on MPA principle, instead of SPA so wish me luck!</p>
	</body>
</html>
